#main{
    width: 100%;
    max-width: 1200px;
    margin: 0;
    height: auto;
    padding-top: 100px;
    font-style:italic; 
    size: 100px; 
    text-align:center;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

.titulos_main {
    color: white;
    text-decoration: underline;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}