#main{
    width: 100%;
    margin: 0;
    height: auto;
    padding-top: 100px;
    font-style:italic; 
    text-align:center;
    font-size: 25px;
    font-family: sans-serif;
}

.titulos_main {
    margin-top: 50px;
    color: white;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}