/* Page registrate */

.registrate-info_main{
    display: flex;
    flex-direction: column;
}

.formulario-container {
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
    margin-top: -50px;
    background-color: #645f5f;
    padding: 80px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.chek {
    font-size: 30px;
    margin-left: 10px;
}


.entrenemosjuntos{
    background-color: #ebebe1;
}

.juntos-section{
    margin: 30px;
}
